.course {
  border-radius: 18px;
  box-shadow: 0 10px 13px -4px rgba($color: #23235f, $alpha: 0.19);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.imageWrapper {
	flex: 0 0 162px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 88%;
}

.courseName {
	font-size: 1.125rem;
	flex: 1;
	padding-left: 1.5rem;
	display: flex;
	align-items: center;
	// padding: 0.75rem 1.5rem 1.5rem;
}